<!DOCTYPE html>
<html>
<style type="text/css">
	a{
		text-decoration: none;
		color: black;
	}
	a:hover{
		font-size: 1.2rem;
		text-decoration: underline;
		color: orange;
	}
	h1{
		font-weight: bold;
		font-family: fantasy;
		font-size: 2.3rem;
		text-decoration: underline;
		color: violet;
	}
	a:visited{
		color: blue;
		font-style: italic;
	}

</style>

<body>

<center><h1>Click on the songs You like</h1></center>
<ol>

<a href="https://open.spotify.com/playlist/6o7IK7K9wanDCWTlWFWqj9" target="_blank"><h2><li>Get Motivated - a playlist of motivational songs</li></h2></a>
<a href="https://open.spotify.com/playlist/3ijMFWiQf3Y1PrGCzczYAC" target="_blank"><h2><li>Inspiration Playlist</li></h2></a>
<a href="https://open.spotify.com/playlist/37i9dQZF1DX1OY2Lp0bIPp" target="_blank"><h2><li>Monday Motivation</li></h2></a>
<a href="https://open.spotify.com/playlist/57xAg9MQvxYbVK7ynYLWy8" target="_blank"><h2><li>Beat The Sundzay Fear x</li></h2></a>
<a href="https://open.spotify.com/playlist/4wGZtKVhvWVknpTRvNSYiz" target="_blank"><h2><li>Monday Office Mornings</li></h2></a>
<a href="https://open.spotify.com/playlist/7rQIyHDHDr26V0zaohjtip" target="_blank"><h2><li>Monday morning blues go away</li></h2></a>
<a href="https://open.spotify.com/playlist/37i9dQZF1DXc5e2bJhV6pu" target="_blank"><h2><li>Morning Motivation</li></h2></a>
<a href="https://open.spotify.com/playlist/4GgKY4lnM2m1xHr38w1LRv" target="_blank"><h2><li>Relax playlist</li></h2></a>
<a href="https://open.spotify.com/playlist/0a6N2BkgBw6sKwuSlrZ1tk" target="_blank"><h2><li>Meditation Playlist</li></h2></a>
<a href="https://open.spotify.com/playlist/1mHjmHjgzRWhX2wJ3VqWZR" target="_blank"><h2><li>meditation playlist🐉🌿</li></h2></a>
<a href="https://open.spotify.com/playlist/55purW6W0gd2r2O3I8Aqa5" target="_blank"><h2><li>Light songs</li></h2></a>
<a href="https://open.spotify.com/playlist/65ofNroTR91hiawyUYtslh" target="_blank"><h2><li>nspirational Instrumental Music</li></h2></a>
<a href="https://open.spotify.com/playlist/6WTVA47dIv27V41L98k4HD" target="_blank"><h2><li>Relax Instrumental 🎷</li></h2></a>
<a href="https://open.spotify.com/album/0AEAyUrfDLK6e5V3JoLMf3" target="_blank"><h2><li>Yoga Music, Meditation, Relax, Inspiration, Focus, Mindful</li></h2></a>
<a href="https://open.spotify.com/playlist/37i9dQZF1DX5yf1SQXKtUJ" target="_blank"><h2><li>Inspirational Walk</li></h2></a>
<a href="https://open.spotify.com/playlist/1OTdIN3LiJlkOsqa5sieH1" target="_blank"><h2><li>Yoga Piano | Spa Relaxation</li></h2></a>
<a href="https://open.spotify.com/playlist/1o9PLAwea826FJonsAYDQu" target="_blank"><h2><li>Motivational & Inspirational Songs Playlist</li></h2></a>
<a href="https://open.spotify.com/playlist/6Qf2sXTjlH3HH30Ijo6AUp" target="_blank"><h2><li>100 Uplifting Songs</li></h2></a>
<a href="https://open.spotify.com/playlist/1ZunAlGzDdkrF6auY0V0xt?si=fcVhFzCLSpa9Zf7jjtTL1Q" target="_blank"><h2><li>Inspiration</li></h2></a>
<a href="https://open.spotify.com/playlist/37i9dQZF1DWVtgG63SDdt8?si=oGxotRuHRc-jFtpS1oPMKA" target="_blank"><h2><li>New Music Friday </li></h2></a>



</ol>



</body>
</html>